<h2>My Heroes</h2>

<!-- [target]="value" is called Property Binding -->
<!-- To bind to an element's property, enclose it in [], which identifies the property as a target property. -->
<app-hero-details [hero]="selectedHero"></app-hero-details>

<ul class="heroes">
  <!-- The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list -->
  <!-- <li> - the host element -->
  <!-- heroes - Holds the mock heroes list from the HeroesComponent class -->
  <!-- hero - Template variable that the current hero object for each iteration through the list -->
  <li *ngFor="let hero of heroes">
    <!-- Angular's class binding can add and remove a CSS class conditionally -->
    <!-- Add [class.some-css-class]="some-condition" to the element you want to style -->

    <!-- In this example, when the current row hero is the same as the selectedHero, Angular adds the selected CSS class -->
    <!-- When the two heroes are different, Angular removes the class -->
    <!-- (see: https://angular.io/guide/attribute-binding#class-binding) -->
    <button (click)="onSelect(hero)" [class.selected]="hero === selectedHero" type="button">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>
